<div class="tweetForm">
    <div *ngIf="status != 'POSTING'">
        <div *ngIf="status == 'ERROR'">
            Something went wrong while posting. Please try again later.
        </div>
        <div>
            <h4>{{this.replyToId == null ? "New tweet":"Reply to this tweet"}}</h4>
            <input type="textarea" [formControl]="tweetContent" class="contentInput">
            <span *ngFor="let errorMessage of errorToMessage()" class="error">
                {{errorMessage}}
            </span>
            <button (click)="postTweet()">Post</button>
        </div>
    </div>
    <div *ngIf="status == 'POSTING'">
        Posting...
    </div>    
</div>
