<div class="tweetForm">
    <div class="authorImg">
        <img [src]="'https://i.pravatar.cc/100?u='+(currentUser | async).id">
    </div>
    <div class="tweetFormInner" *ngIf="status != 'POSTING'">
        <div *ngIf="status == 'ERROR'">
            Something went wrong while posting. Please try again later.
        </div>
        <div>
            <mat-form-field class="textarea-formfield"  appearance="outline" [hideRequiredMarker]="true"            >
                <textarea matInput 
                    [placeholder]="getPlaceholder()" 
                    [formControl]="tweetContent" ></textarea>
                <span *ngFor="let errorMessage of errorToMessage()" class="error">
                    <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
                </span>
            </mat-form-field>
            <button mat-flat-button color="primary"(click)="postTweet()" [disabled]="this.tweetContent.value == ''">Post</button>
        </div>
    </div>
    <div *ngIf="status == 'POSTING'">
        Posting...
    </div>    
</div>
