.loginForm form {
    margin: 0 auto;
    padding: 2vw;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 1vh;
    justify-content: space-between;
    button {
        align-self: stretch;
    }
    
}