.homePage {
    
    h2 {
        padding: 15px;
        margin-bottom: 5vh;
    }
    display: flex;
    div {
        
        flex-grow: 2;
    }
    .tweetContainer {
        display: flex;
        flex-direction: column;
    }
    .trendsContainer {
        margin: 0 0 0 5vw;
        flex-grow:2;
        max-height: 500px;
        min-width: 200px;
    }
}