.homePage {
    
    margin-top: 10vh;
    display: flex;
    div {
        
        flex-grow: 2;
    }
    .tweetContainer {
        display: flex;
        flex-direction: column;
    }
    .trendsContainer {
        margin: 0 0 0 5vw;
        flex-grow:2;
        max-height: 500px;
        min-width: 200px;
    }
}