.appContainer {
    color: whitesmoke;
    display: flex;
    
    background: black;
    justify-content: center;

    
    .navigationBar {
        flex-grow: 3;
        border-right:5px solid white;
    }
    .appContent {
        flex-grow: 5;
        margin-right: 15vw;
    }

}