.appContainer {
    color: whitesmoke;    
    width: min-content;
    margin: 0 auto;
    
    --navbarWidth: 18vw;

    height: 100%;
    
    
    .navigationBar {
        box-sizing: content-box;
        height: 100%;
        
        border-right:solid rgb(47, 51, 54) 1px;
        position: fixed;
        width: var(--navbarWidth);
    }
    .appContent {
        box-sizing: border-box;
        border:solid rgb(47, 51, 54) 1px;
        margin-left: var(--navbarWidth);
        
        margin-right: 0;
        min-width: 600px;
        
    }

}