@use  '@angular/material' as mat;

@include mat.core();

$meaner-primary: mat.define-palette(mat.$light-blue-palette);
$meaner-accent: mat.define-palette(mat.$pink-palette, 100, 500, A100);
$meaner-warn: mat.define-palette(mat.$red-palette);
$meaner-theme: mat.define-dark-theme((
    color: (
        primary: $meaner-primary,
        accent: $meaner-accent,
        warn: $meaner-warn
    ),
    typography: mat.define-typography-config(),
    density: 0,
));


$primary: mat.get-color-from-palette($meaner-primary);

@include mat.all-component-themes($meaner-theme);