:host, :host form {
    display: flex;
    flex-direction: column;
    h1 {
        padding: 25px 0 0 75px;
    }
    .formError {
        margin-left: 25px;
    }
    .form-field {
        padding: 25px 75px 0 75px
    }
    button {
        margin: 25px 75px 0 75px;
    }
}

.settings-profile-description-input {
    padding: 25px 25px 0 25px;
    
}

.button-save-profile{
    margin: 25px 25px 0 25px;
    padding: 0 24px;
    align-self: flex-end;
    border-radius: 25px;
}