.homeTweet {
    padding: 15px;
    display: flex;
    .right {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        
    }
    .authorImg {
        img {
            width: 50px;
            margin-right: 5px;
            border-radius: 50%;
        }
        height: 1000%;
        
    }
    .author {
        font-size: 18px;
        margin: 0;
    }
    box-sizing: border-box;
    border: solid rgb(47, 51, 54) 1px;
    margin-bottom: -1px;
    a {
        text-decoration: none;
        color: whitesmoke;
    }
}

.replyTweet {
    margin-left: 15px;
}