.homeTweet {
    &:hover {
        background-color: rgba(255, 255, 255, 0.045);
    }
    padding: 15px;
    display: flex;
    .right {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 10;

        .content {
            .actions {
                display: flex;
                gap: 10px;
                vertical-align: middle;
                align-items: center;
                > div {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    line-height: 100%;
                }
            }
        }
        
    }
    .authorImg {
        img {
            width: 50px;
            margin-right: 5px;
            border-radius: 50%;
        }
        height: 1000%;
        
    }
    .author {
        font-size: 18px;
        margin: 0;
        a:hover {
            text-decoration: underline;
        }
    }
    box-sizing: border-box;
    border: solid rgb(47, 51, 54) 1px;
    border-width: 1px 0;
    margin-bottom: -1px;
    a {
        text-decoration: none;
        color: whitesmoke;
    }
}

.replyTweet {
    margin-left: 15px;
}