
<div class="homeTweet" [class.replyTweet]="tweet.replyToId != null">
    <div class="left">
        <div class="authorImg">
            <img [src]="'https://i.pravatar.cc/100?u='+tweet.authorId">
        </div>
    </div>
    <div class="right">
        <div class="author">
            <a [routerLink]="'/profile/'+tweet.authorId" routerLinkActive="active">{{tweet.authorName}}</a>
        </div>
        <div class="content">
            <a routerLink="{{'/tweet/'+tweet.id}}" >
            <p>{{tweet.content}}</p>
            <p>{{tweet.date.toLocaleString()}}
            Likes: {{tweet.likes}} Shares: {{tweet.shares}} Replies: {{tweet.replies}}</p>
            </a>
        </div>
    </div>
</div>
        
