
<div class="homeTweet" [class.replyTweet]="tweet.replyToId != null">
    <div class="left">
        <div class="authorImg">
            <img [src]="'https://i.pravatar.cc/100?u='+tweet.authorId">
        </div>
    </div>
    <div class="right">
        <div class="author">
            <a [routerLink]="'/profile/'+tweet.authorId" routerLinkActive="active">{{tweet.authorName}}</a>
        </div>
        <div class="content">
            
                <p>{{tweet.content}}</p>
                <div class="actions">
                    <div>{{tweet.date.toLocaleString()}}</div>
                    <div class="likes">
                        <button mat-icon-button color="secondary" (click)="like($event)" type="button"> 
                            <mat-icon >{{tweet.liked?'favorite':'favorite_border'}}</mat-icon> 
                        </button> 
                        <div>
                            {{tweet.likes}}
                        </div>
                    </div>
                    <div class="shares">
                        Shares: {{tweet.shares}}
                    </div>
                    <div class="replies">
                        Replies: {{tweet.replies}}
                    </div>
                </div>
            
        </div>
    </div>
</div>
        
