<div *ngIf="(currentUser$ | async) as user" class="settings-page-content">
    
    <div class="tablist">
        <h1>Settings</h1>
        <a class="settings-category-link" routerLink="password" [ngClass]="{'selected-category': categoryChosen == 'password'}">
            <div class="link-label" id="passwordlink">
                Password
            </div>
            <mat-icon class="link-chevron">chevron_right</mat-icon>
        </a>
        <a class="settings-category-link" routerLink="profile" [ngClass]="{'selected-category': categoryChosen == 'password'}">
            <div class="link-label" id="passwordlink">
                Profile
            </div>
            <mat-icon class="link-chevron">chevron_right</mat-icon>
        </a>
    </div>
    <div class="tabcontent">
        <router-outlet></router-outlet>
    </div>
</div>
<div *ngIf="(currentUser$ | async) == null">
404
</div> 