<h1>
    Change your password
</h1>
<form [formGroup]="this.changePasswordForm">
    <mat-form-field class="settings-password-input currentpassword" [hideRequiredMarker]="true" appearance="outline">
        <mat-label>Current password</mat-label>
        <input matInput formControlName="currentPassword" type="password"/>
        <mat-error *ngIf="this.changePasswordForm.controls['currentPassword'].hasError('required')">
            Required
        </mat-error>
    </mat-form-field>
    <mat-form-field class="settings-password-input" [hideRequiredMarker]="true" appearance="outline">
        <mat-label>New password</mat-label>
        <input matInput formControlName="newPassword" type="password"/>
        <mat-error *ngIf="this.changePasswordForm.controls['newPassword'].hasError('required')">
            Required
        </mat-error>
    </mat-form-field>
    <mat-form-field class="settings-password-input" [hideRequiredMarker]="true" appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirmPassword" type="password"/>
        <mat-error *ngIf="this.changePasswordForm.controls['confirmPassword'].hasError('required')">
            Required
        </mat-error>
    </mat-form-field>
    <mat-error *ngIf="this.changePasswordForm.hasError('mismatchedPassword')" class="formError">
        Passwords must be identical.
    </mat-error>
    <button mat-flat-button color="primary" class="button-save-password" type="button" (click)="onSave()">Save</button>
</form>