:host, :host form {
    display: flex;
    flex-direction: column;
    h1 {
        padding: 25px 0 0 25px;
    }
    .formError {
        margin-left: 25px;
    }
}

.settings-password-input {
    padding: 25px 25px 0 25px;
    &.currentpassword {
        box-sizing: border-box;
        border-bottom: 1px solid rgb(47, 51, 54);
    }
}

.button-save-password{
    margin: 25px 25px 0 25px;
    padding: 0 24px;
    align-self: flex-end;
    border-radius: 25px;
}