.mdc-snackbar__surface {
    padding: 7px 16px;
    .mat-mdc-snack-bar-label{
        color: whitesmoke !important;
    }
    &:has(.popup-failed) {
        background-color: #C62828;
    }
    
    &:has(.popup-success) {
        background-color: #2E7D32;
    }
    app-basic-popup {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        vertical-align: middle;
    }
}

